﻿@{ 
    ViewBag.Title = "IMC";
}
<!DOCTYPE html>
<html>
    <head>
        <title> Resultado IMC </title>
        <meta charset="uft-8" />
    </head>
    <body>
        <h1>Resultados</h1>
        <div class="seccion_1" id="s1">
            <ul>
                <li> IMC menor que 18,5 -> peso insuficiente </li>
                <li> IMC entre 18,5 y 24,9 -> peso normal </li>
                <li> IMC mayor que 25 -> sobrepeso </li>
            </ul>
            <a href="/Home/" class="btn btn-info"> Volver al inicio </a>
            <hr />
        </div>

        <div class="seccion_2" id="s2">
            <table class="table">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Peso</th>
                    <th>Estatura</th>
                    <th>IMC</th>
                </tr>

                @foreach (var persona in ViewBag.persona)
                {
            <tr>
                <td>@persona.Id</td>
                <td>@persona.Nombre</td>
                <td>@persona.Peso</td>
                <td>@persona.Estatura</td>
                @{
                    double IMC = persona.Peso / (persona.Estatura * persona.Estatura);
                    if (IMC <= 24.9 && IMC >= 18.5)
                    {
                        <td style="color: green">@IMC</td>
                    }
                    else
                    {
                        <td style="color: red">@IMC</td>
                    }
                }
            </tr>
                }

            </table>
        </div>

    </body>
</html>

